body {
    font-family: 'Spartan', sans-serif;
    color: rgba(0, 0, 0, 0.76);
    margin: 0;
    padding: 0;
}

main {
    padding: 10px 20px;
    margin: 0 0 0 200px;
}

h1 {
    font-weight: 800;
}

h2 {
    font-weight: 600;
    font-size: 1.2em;
}

/* Navbar */

nav header {
    border-bottom: 2px white solid;
    width: 100%;
}

#nav-header {
    padding: 10px 15px 5px 15px;
}

nav {
    position: fixed;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    height: 100%;
    width: 160px;
    margin: 0;
    background-color: yellowgreen;

}

#main-title {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.76);;
}

.nav-link {
    box-sizing: border-box;
    height: 50px;
    width: 100%;
    text-align: left;
    padding: 15px 15px 5px 15px;
    border-bottom: 2px white solid;
    text-decoration: none;
    color: white;
    font-weight: 600;
}

.nav-link:hover  {
    color: rgba(0, 0, 0, 0.76);
    font-weight: 700;
}

.nav-link: {
    color: rgba(0, 0, 0, 0.76);
}



@media screen and (max-width: 700px) {

    main {
        margin: 0;
    }


    nav {
        position: relative;
        align-items: center;
        height: fit-content;
        width: 100%;

    }

    .nav-link {
        text-align: center;

    }

    nav header {
        text-align: center;
    }
}

/* Main */

section {
    padding-top: 10px;
}

a {
    color: rgb(103, 155, 1);
    font-weight: 700;
}

pre {
    background-color: rgb(227, 255, 162);
    padding: 15px;
    overflow: auto;
}


#Node-table {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
}

.node-table-box {
    border: 2px gray solid;
    padding: 10px;
}

#arrow {
    padding: 10px;
}

.note {
    background-color: gainsboro;
    padding: 5px 15px;
    box-sizing: border-box;
}

#Specifications {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
}

#Specifications a {
    padding: 5px 15px 5px 0;
}